/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__left{
  display: flex;
  justify-content: space-between;
}
.font{
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}
.logo {
  width: 200px;
  height: 130px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */
.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  width: 47vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.navi {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.greeting{
  margin-bottom: 20px;
  font-size: larger;
  
}
.greeting__link{
  text-decoration: underline;
}
.page-heading {
  font-size: 30px;
  margin-bottom: 28px;
}
.item__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
/* メイン */

/* ユーザーページ */


/* ユーザーページ */


/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
/* フッター */
